*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
/* In your CSS file or style block */
.MuiModal-root {
   /* z-index: 1500; Adjust this value as needed */
}
.MuiBackdrop-root{
  background-color: transparent;
}
